[user]
	name = Bob Baxley
	email = bob.baxley@gmail.com
[credential]
	help = osxkeychain
[push]
	default = simple
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[http]
	postBuffer = 524288000
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[github]
	user = gte620v
[diff "nb2md"]
	textconv = nb2md
